In [ ]:
import pandas as pd
import numpy as np

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import mean_squared_error

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
filename = '/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/rating_small_dataset.csv'
rating_df = pd.read_csv('/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/rating_small_dataset.csv')
rating_df.head()

   userId  movieId  naver_code  rating   timestamp
0       1       31       17504     5.0  1260759144
1       1     1061       17766     6.0  1260759182
2       1     1343       11082     4.0  1260759131
3       1     2193       10619     4.0  1260759198
4       1     2294       19477     4.0  1260759108

In [ ]:
filename = '/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/movie_dataset.csv'
movie_df = pd.read_csv('/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/movie_dataset.csv')
movie_df.head(3)

,movieId,naver_code,title,title_kor,genres,keyword,director,cast,director_kor,cast_kor,...,naver_user_participate,naver_critics_rate,naver_critics_participate,nation,release_date,running_time,age,story,poster_url,url
0,1,17153,Toy Story,토이 스토리,Adventure Animation Children Comedy Fantasy,"jealousy,toy,boy,friendship,friends,rivalry,bo...",John Lasseter,"Tom Hanks,Tim Allen,Don Rickles",존 라세터,"톰 행크스, 팀 알렌",...,1393,0.0,0,미국,2010.05.05 1995.12.30,77분,"전체 관람가, G",우디(톰 행크스 목소리 분)는 6살짜리 남자 아이 앤디가 가장 아끼는 카우보이 인형...,https://movie-phinf.pstatic.net/20111222_26/13...,https://movie.naver.com/movie/bi/mi/basic.nave...
1,2,17440,Jumanji,쥬만지,Adventure Children Fantasy,"board game,disappearance,based on children's b...",Joe Johnston,"Robin Williams,Jonathan Hyde,Kirsten Dunst",조 존스톤,"로빈 윌리엄스, 커스틴 던스트, 데이빗 알란 그리어",...,1591,0.0,0,미국,1996.01.20,104분,"전체 관람가, PG",1969년. 커다란 공장을 운영하는 아버지를 둔 12세 소년 알랜 패리쉬(Young...,https://movie-phinf.pstatic.net/20111223_209/1...,https://movie.naver.com/movie/bi/mi/basic.nave...
2,4,17798,Waiting To Exhale,사랑을 기다리며,Comedy Drama Romance,"based on novel,interracial relationship,single...",Forest Whitaker,"Whitney Houston,Angela Bassett,Loretta Devine",포레스트 휘태커,"휘트니 휴스턴, 안젤라 바셋, 로레타 드바인",...,17,0.0,0,미국,1996.04.05,127분,"청소년 관람불가, R",사반나 잭슨(Savannah Jackson: 휘트니 휴스턴 분)은 TV 프로듀서로서...,https://movie-phinf.pstatic.net/20111221_192/1...,https://movie.naver.com/movie/bi/mi/basic.nave...

In [ ]:
rating_df = rating_df[['userId', 'movieId', 'rating']]
rating_matrix = rating_df.pivot_table('rating', index='userId', columns='movieId')
rating_matrix.head()

movieId,1,2,4,5,6,7,9,10,12,14,...,140816,141668,141688,142422,142448,142536,142997,143385,146309,160440
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
rating_title = pd.merge(rating_df, movie_df, on='movieId')
rating_matrix = rating_title.pivot_table('rating', index='userId', columns='title')
rating_matrix = rating_matrix.fillna(0)
rating_matrix.head()

title,10 Items Or Less,10 Years,101 Dalmatians,102 Dalmatians,11:14,12 Years a Slave,127 Hours,13 Going On 30,13 Tzameti,1408,...,XXx,Yes Man,You Can Count On Me,You Will Meet A Tall Dark Stranger,You're Next,You've Got Mail,Zero Dark Thirty,Zodiac,eXistenZ,happy endings
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0

In [ ]:
rating_matrix_T = rating_matrix.transpose()
rating_matrix_T.head()

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
10 Items Or Less,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Years,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
102 Dalmatians,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
11:14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
item_sim = cosine_similarity(rating_matrix_T, rating_matrix_T)
item_sim_df = pd.DataFrame(data=item_sim, index=rating_matrix.columns ,columns=rating_matrix.columns)

print(item_sim_df.shape)
item_sim_df.head()

(2040, 2040)

title,10 Items Or Less,10 Years,101 Dalmatians,102 Dalmatians,11:14,12 Years a Slave,127 Hours,13 Going On 30,13 Tzameti,1408,...,XXx,Yes Man,You Can Count On Me,You Will Meet A Tall Dark Stranger,You're Next,You've Got Mail,Zero Dark Thirty,Zodiac,eXistenZ,happy endings
title,,,,,,,,,,,,,,,,,,,,,
10 Items Or Less,1.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.190071,0.000000,0.000000,0.000000,0.000000,0.037696,0.320000,0.196502,0.000000,0.000000
10 Years,0.0,1.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.076029,0.294232,0.000000,0.759257,0.000000,0.000000,0.320000,0.224574,0.000000,0.000000
101 Dalmatians,0.0,0.0,1.000000,0.139769,0.0,0.0,0.075549,0.157864,0.000000,0.045489,...,0.059878,0.023173,0.032262,0.000000,0.000000,0.148439,0.042004,0.089170,0.062717,0.000000
102 Dalmatians,0.0,0.0,0.139769,1.000000,0.0,0.0,0.138566,0.154624,0.031042,0.054160,...,0.027725,0.003066,0.000000,0.000000,0.072932,0.065982,0.000000,0.000000,0.000000,0.000000
11:14,0.0,0.0,0.000000,0.000000,1.0,0.0,0.126162,0.203068,0.000000,0.000000,...,0.000000,0.221432,0.000000,0.000000,0.000000,0.099291,0.000000,0.314251,0.000000,0.437487

In [ ]:
item_sim_df["12 Years a Slave"].sort_values(ascending=False)[1:6]

title
Seeking a Friend for the End of the World    0.544686
Inside Llewyn Davis                          0.458311
Lone Survivor                                0.446497
Moneyball                                    0.446185
Nightcrawler                                 0.441817
Name: 12 Years a Slave, dtype: float64

In [ ]:
def predict_rating(ratings_arr, item_sim_arr):
  ratings_pred = ratings_arr.dot(item_sim_arr)/ np.array([np.abs(item_sim_arr).sum(axis=1)]) 
  return ratings_pred 

ratings_pred = predict_rating(rating_matrix.values , item_sim_df.values) 
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index= rating_matrix.index, columns = rating_matrix.columns) 
ratings_pred_matrix.head()

title,10 Items Or Less,10 Years,101 Dalmatians,102 Dalmatians,11:14,12 Years a Slave,127 Hours,13 Going On 30,13 Tzameti,1408,...,XXx,Yes Man,You Can Count On Me,You Will Meet A Tall Dark Stranger,You're Next,You've Got Mail,Zero Dark Thirty,Zodiac,eXistenZ,happy endings
userId,,,,,,,,,,,,,,,,,,,,,
1,0.008959,0.003971,0.029046,0.017531,0.010254,0.000000,0.006916,0.004897,0.006916,0.000291,...,0.011010,0.003394,0.015382,0.003652,0.008786,0.023915,0.007515,0.007939,0.022181,0.000000
2,0.076371,0.058438,0.263244,0.229859,0.204974,0.118178,0.118702,0.176618,0.131360,0.257604,...,0.143204,0.085859,0.197504,0.058804,0.130489,0.290258,0.089712,0.105385,0.209130,0.087039
3,0.157031,0.070850,0.187036,0.234240,0.221102,0.236666,0.163669,0.157713,0.153358,0.210839,...,0.149398,0.135236,0.199091,0.078806,0.172916,0.204118,0.118185,0.145331,0.237034,0.312603
4,0.098472,0.126171,0.343645,0.267846,0.272043,0.190104,0.186554,0.231841,0.163508,0.367874,...,0.209588,0.148158,0.265756,0.134064,0.174039,0.371652,0.140138,0.177945,0.308076,0.149225
5,0.283511,0.173790,0.447251,0.562469,0.735386,0.376292,0.330953,0.508672,0.358150,0.403741,...,0.368846,0.349872,0.422981,0.201101,0.444035,0.567279,0.248462,0.314233,0.362047,0.772824

In [ ]:
def get_mse(pred, actual): 
  pred = pred[actual.nonzero()].flatten() 
  actual = actual[actual.nonzero()].flatten() 
  return mean_squared_error(pred, actual) 
  
print('아이템 기반 모든 인접 이웃 MSE: ', get_mse(ratings_pred, rating_matrix.values ))

아이템 기반 모든 인접 이웃 MSE:  37.73559914315468

In [ ]:
def predict_rating_topsim(ratings_arr, item_sim_arr, n=20): 
  pred = np.zeros(ratings_arr.shape) 
  for col in range(ratings_arr.shape[1]): 
    top_n_items = [np.argsort(item_sim_arr[:, col])[:-n-1:-1]] 
    for row in range(ratings_arr.shape[0]): 
      pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T) 
      pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items])) 
  return pred 
  
ratings_pred = predict_rating_topsim(rating_matrix.values , item_sim_df.values, n=20) 
print('아이템 기반 인접 TOP-20 이웃 MSE: ', get_mse(ratings_pred, rating_matrix.values )) 

ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index= rating_matrix.index, columns = rating_matrix.columns)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  import sys

아이템 기반 인접 TOP-20 이웃 MSE:  15.27177100226473

In [ ]:
user_rating_id = rating_matrix.loc[9, :] 
user_rating_id[ user_rating_id > 0].sort_values(ascending=False)[:10]

title
As Good As It Gets       10.0
Dead Man Walking         10.0
Fargo                    10.0
Shadowlands              10.0
Schindler's List         10.0
Ronin                     8.0
Saving Private Ryan       8.0
Shine                     8.0
Shakespeare in Love       8.0
Sense And Sensibility     8.0
Name: 9, dtype: float64

In [ ]:
def get_unseen_movies(ratings_matrix, userId):  
  user_rating = ratings_matrix.loc[userId,:] 

  already_seen = user_rating[ user_rating > 0].index.tolist() 
  
  movies_list = ratings_matrix.columns.tolist() 
  
  unseen_list = [ movie for movie in movies_list if movie not in already_seen] 
  
  return unseen_list 

def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n): 
  recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n] 
  return recomm_movies 

unseen_list = get_unseen_movies(rating_matrix, 64) 
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 64, unseen_list, top_n=5) 
 
result_df = pd.DataFrame(data=recomm_movies.values,index=recomm_movies.index,columns=['pred_score'])
result_df

               pred_score
title
Stargate         4.052928
Aladdin          3.869498
GoldenEye        3.813398
Waterworld       3.812109
Jurassic Park    3.726482

In [ ]:
result_df.reset_index(drop=False, inplace=True)
result_df.reset_index(drop=False, inplace=True)
result_df.rename(columns={'index':'rank'}, inplace=True)
result_df['rank'] = result_df['rank'] + 1
result_df

   rank          title  pred_score
0     1       Stargate    4.052928
1     2        Aladdin    3.869498
2     3      GoldenEye    3.813398
3     4     Waterworld    3.812109
4     5  Jurassic Park    3.726482

In [ ]:
recomm_movies = pd.merge(result_df, movie_df, how = 'inner', on=['title'])
recomm_movies = recomm_movies[['rank', 'movieId', 'title', 'title_kor', 'pred_score', 'poster_url']]
recomm_movies

,rank,movieId,title,title_kor,pred_score,poster_url
0,1,316,Stargate,스타게이트,4.052928,https://movie-phinf.pstatic.net/20111221_240/1...
1,2,588,Aladdin,알라딘,3.869498,https://movie-phinf.pstatic.net/20170418_64/14...
2,3,10,GoldenEye,007 골든 아이,3.813398,https://movie-phinf.pstatic.net/20111222_264/1...
3,4,208,Waterworld,워터월드,3.812109,https://movie-phinf.pstatic.net/20111221_9/132...
4,5,480,Jurassic Park,쥬라기 공원,3.726482,https://movie-phinf.pstatic.net/20130531_210/1...

In [ ]:
recomm_movies.to_csv("nearest neighbor collaborative filtering.csv", mode='w', index=False)

### end of file