In [1]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np
from ast import literal_eval

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## movie - crawling merge

In [2]:
# 1950_2020_final 네이버 크롤링 데이터 불러오기
filename = '/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/naver_crawling_data/1950_2020_final.csv'
naver_movies_df = pd.read_csv('/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/naver_crawling_data/1950_2020_final.csv', encoding='cp949')
naver_movies_df.head(3)

,openYear,code,url,title,title_forn,poster_url,genre,nation,runningTime,age,openDate,netizens_rate,netizens_participate,critics_rate,critics_participate,directors,actors,story
0,1950,49697,https://movie.naver.com/movie/bi/mi/basic.nave...,비련,The Eternal Return,https://ssl.pstatic.net/static/movie/2012/06/d...,NaN,프랑스,107분,NR,1950.01.17,0.0,0,0.0,0.0,장 들라누아,"마들레인 솔로그네, 장 마라이",트리스탄과 이졸데(Tristan and Iseult)의 전설을 근간으로 하고 있는데...
1,1950,147087,https://movie.naver.com/movie/bi/mi/basic.nave...,서커스의 모녀,Circus Shadows,https://ssl.pstatic.net/static/movie/2012/06/d...,"범죄, 드라마, 멜로/로맨스",미국,66분,NaN,1950.04.09,0.0,0,0.0,0.0,찰스 허치슨,"도로시 윌슨, 케인 리치몬드, 윌리엄 룰",NaN
2,1950,21867,https://movie.naver.com/movie/bi/mi/basic.nave...,아름다웠던 서울,NaN,https://ssl.pstatic.net/static/movie/2012/06/d...,다큐멘터리,한국,NaN,NaN,1950,0.0,0,0.0,0.0,NaN,NaN,6.25동란으로 말미암아 폐허가 된 서울을 6.25이전의 아름다웠던 서울의 이모저모...

In [3]:
# 25m movie_lens_data movies 불러오기
filename = '/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/movie_lens_data/25m/ml25m_movies.csv'
ml25m_movies_df = pd.read_csv('/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/movie_lens_data/25m/ml25m_movies.csv')
ml25m_movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
print(naver_movies_df.shape)
print(ml25m_movies_df.shape)

(18164, 18)
(62423, 3)

In [5]:
# ml25m_movies_df['title']에서 (xxxx) 연도 제거, 글자 전부 소문자로 변환, 모든 공백 제거, 'only_title'로 새 컬럼에 추가
ml25m_movies_df['only_title'] = ml25m_movies_df['title'].str[:-7]
ml25m_movies_df['only_title'] = ml25m_movies_df['only_title'].str.lower()
ml25m_movies_df['only_title'] = ml25m_movies_df['only_title'].str.replace(" ", "")

# ml25m_movies_df['title']에서 (xxxx) 괄호 안 연도만 따로 추출해서 'openYear'로 새 컬럼에 추가
ml25m_movies_df['openYear'] = ml25m_movies_df['title'].str[-5:]
ml25m_movies_df['openYear'] = ml25m_movies_df['openYear'].str.strip()
ml25m_movies_df['openYear'] = ml25m_movies_df['openYear'].str.replace("(", "")
ml25m_movies_df['openYear'] = ml25m_movies_df['openYear'].str.replace(")", "")
ml25m_movies_df['openYear'] = ml25m_movies_df['openYear'].str.replace("–", "")
ml25m_movies_df = ml25m_movies_df[ml25m_movies_df['openYear'].str.contains('19|20')]

print(ml25m_movies_df.dtypes)
ml25m_movies_df[['only_title', 'openYear']].head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  # Remove the CWD from sys.path while we load stuff.

movieId        int64
title         object
genres        object
only_title    object
openYear      object
dtype: object

               only_title openYear
0                toystory     1995
1                 jumanji     1995
2          grumpieroldmen     1995
3         waitingtoexhale     1995
4  fatherofthebridepartii     1995

In [6]:
# 'openYear' 컬럼을 int로 자료형 변환
ml25m_movies_df = ml25m_movies_df.astype({'openYear' : int})

print(ml25m_movies_df.dtypes)
ml25m_movies_df[['only_title', 'openYear']].head()

movieId        int64
title         object
genres        object
only_title    object
openYear       int64
dtype: object

               only_title  openYear
0                toystory      1995
1                 jumanji      1995
2          grumpieroldmen      1995
3         waitingtoexhale      1995
4  fatherofthebridepartii      1995

In [7]:
# 45.5k movie_lens_data metadata load
filename = '/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/movie_lens_data/45.5k/movies_metadata.csv'
movies_metadata_df = pd.read_csv('/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/movie_lens_data/45.5k/movies_metadata.csv')
movies_metadata_df.head(2)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [8]:
# 45.5k movie_lens_data credits load
filename = '/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/movie_lens_data/45.5k/credits.csv'
credits_df = pd.read_csv('/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/movie_lens_data/45.5k/credits.csv')
credits_df.head(2)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

In [9]:
# 45.5k movie_lens_data keywords load
filename = '/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/movie_lens_data/45.5k/keywords.csv'
keywords_df = pd.read_csv('/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/movie_lens_data/45.5k/keywords.csv')
keywords_df.head(2)

     id                                           keywords
0   862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...

In [10]:
# keywords_df, credits_df, movies_metadata_df의 ['id']컬럼 안맞는 데이터 드랍하고 int로 형변환
keywords_df['id'] = keywords_df['id'].astype('int')
credits_df['id'] = credits_df['id'].astype('int')
movies_metadata_df = movies_metadata_df.drop([19730, 29503, 35587])
movies_metadata_df['id'] = movies_metadata_df['id'].astype('int')

In [11]:
# movies_metadata_df에 credits_df, keywords_df를 ['id']컬럼 기준으로 merge
movies_metadata_df = movies_metadata_df.merge(credits_df, on='id')
movies_metadata_df = movies_metadata_df.merge(keywords_df, on='id')

In [12]:
# movies_metadata_df의 ['id']컬럼 결측치 확인
movies_metadata_df['id'].isna().sum()

0

In [13]:
# movies_metadata_df['cast'], movies_metadata_df['crew'], movies_metadata_df['keywords']를 literal_eval로 str -> list 형변환
movies_metadata_df['cast'] = movies_metadata_df['cast'].apply(literal_eval)
movies_metadata_df['crew'] = movies_metadata_df['crew'].apply(literal_eval)
movies_metadata_df['keywords'] = movies_metadata_df['keywords'].apply(literal_eval)

In [14]:
# director 값만 받아오는 함수 제작
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [15]:
# ['director'], ['cast'], ['keywords'] 값만 뽑아오기
movies_metadata_df['director'] = movies_metadata_df['crew'].apply(get_director)

movies_metadata_df['cast'] = movies_metadata_df['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
movies_metadata_df['cast'] = movies_metadata_df['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)
movies_metadata_df['cast'] = movies_metadata_df['cast'].apply(lambda x: ','.join(x))

movies_metadata_df['keywords'] = movies_metadata_df['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
movies_metadata_df['keywords'] = movies_metadata_df['keywords'].apply(lambda x: ','.join(x))

In [32]:
print(movies_metadata_df.shape)
movies_metadata_df.head()

(45675, 30)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,title,video,vote_average,vote_count,cast,crew,keywords,director,only_title,openYear
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Toy Story,False,7.7,5415.0,"Tom Hanks,Tim Allen,Don Rickles","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","jealousy,toy,boy,friendship,friends,rivalry,bo...",John Lasseter,toystory,1995
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Jumanji,False,6.9,2413.0,"Robin Williams,Jonathan Hyde,Kirsten Dunst","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","board game,disappearance,based on children's b...",Joe Johnston,jumanji,1995
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Grumpier Old Men,False,6.5,92.0,"Walter Matthau,Jack Lemmon,Ann-Margret","[{'credit_id': '52fe466a9251416c75077a89', 'de...","fishing,best friend,duringcreditsstinger,old men",Howard Deutch,grumpieroldmen,1995
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Waiting to Exhale,False,6.1,34.0,"Whitney Houston,Angela Bassett,Loretta Devine","[{'credit_id': '52fe44779251416c91011acb', 'de...","based on novel,interracial relationship,single...",Forest Whitaker,waitingtoexhale,1995
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Father of the Bride Part II,False,5.7,173.0,"Steve Martin,Diane Keaton,Martin Short","[{'credit_id': '52fe44959251416c75039ed7', 'de...","baby,midlife crisis,confidence,aging,daughter,...",Charles Shyer,fatherofthebridepartii,1995

In [17]:
# movies_metadata_df['title']에서 (xxxx) 연도 제거, 글자 전부 소문자로 변환, 모든 공백 제거, 'only_title'로 새 컬럼에 추가
movies_metadata_df['only_title'] = movies_metadata_df['title'].str.lower()
movies_metadata_df['only_title'] = movies_metadata_df['only_title'].str.replace(" ", "")
movies_metadata_df = movies_metadata_df.dropna(subset = ['only_title'])
print(movies_metadata_df[['only_title']].isna().sum())

# movies_metadata_df['title']에서 (xxxx) 괄호 안 연도만 따로 추출해서 'openYear'로 새 컬럼에 추가
movies_metadata_df = movies_metadata_df.dropna(subset = ['release_date'])
movies_metadata_df['openYear'] = movies_metadata_df['release_date'].str[:4]
movies_metadata_df = movies_metadata_df.astype({'openYear' : int})
print(movies_metadata_df[['openYear']].isna().sum())

# movies_metadata_df['director'] 결측치 제거
movies_metadata_df = movies_metadata_df.dropna(subset = ['director'])
print(movies_metadata_df[['director']].isna().sum())

# movies_metadata_df['cast'] 결측치 제거
movies_metadata_df = movies_metadata_df.dropna(subset = ['cast'])
print(movies_metadata_df[['cast']].isna().sum())

only_title    0
dtype: int64
openYear    0
dtype: int64
director    0
dtype: int64
cast    0
dtype: int64

In [18]:
movies_metadata_cd_df = movies_metadata_df[['only_title', 'openYear', 'director', 'cast', 'keywords']]
movies_metadata_cd_df

,only_title,openYear,director,cast,keywords
0,toystory,1995,John Lasseter,"Tom Hanks,Tim Allen,Don Rickles","jealousy,toy,boy,friendship,friends,rivalry,bo..."
1,jumanji,1995,Joe Johnston,"Robin Williams,Jonathan Hyde,Kirsten Dunst","board game,disappearance,based on children's b..."
2,grumpieroldmen,1995,Howard Deutch,"Walter Matthau,Jack Lemmon,Ann-Margret","fishing,best friend,duringcreditsstinger,old men"
3,waitingtoexhale,1995,Forest Whitaker,"Whitney Houston,Angela Bassett,Loretta Devine","based on novel,interracial relationship,single..."
4,fatherofthebridepartii,1995,Charles Shyer,"Steve Martin,Diane Keaton,Martin Short","baby,midlife crisis,confidence,aging,daughter,..."
...,...,...,...,...,...
46622,robinhood,1991,John Irvin,"Patrick Bergin,Uma Thurman,David Morrissey",
46624,centuryofbirthing,2011,Lav Diaz,"Angel Aquino,Perry Dizon,Hazel Orencio","artist,play,pinoy"
46625,betrayal,2003,Mark L. Lester,"Erika Eleniak,Adam Baldwin,Julie du Page",
46626,satantriumphant,1917,Yakov Protazanov,"Iwan Mosschuchin,Nathalie Lissenko,Pavel Pavlov",
46627,queerama,2017,Daisy Asquith,,

In [19]:
# ['director']컬럼에 한 명만 입력되어 있는지 확인
movies_metadata_cd_df.sample(5)
movies_metadata_cd_df[movies_metadata_cd_df['director'].str.contains('Russo')]

,only_title,openYear,director,cast,keywords
4569,rudeawakening,1989,Aaron Russo,"Cheech Marin,Eric Roberts,Julie Hagerty",
5547,welcometocollinwood,2002,Anthony Russo,"William H. Macy,Isaiah Washington,Sam Rockwell","safe,remake,heist,inner city"
11104,"you,meanddupree",2006,Anthony Russo,"Kate Hudson,Owen Wilson,Matt Dillon","roommate,love of one's life,newlywed"
19782,nobodywalks,2012,Ry Russo-Young,"Dylan McDermott,John Krasinski,Jane Levy","mumblecore,woman director"
20374,theimmaculateconceptionoflittledizzle,2010,David Russo,"Marshall Allman,Jay Wesley Cochran,Melissa D. ...",independent film
23249,captainamerica:thewintersoldier,2014,Anthony Russo,"Chris Evans,Samuel L. Jackson,Scarlett Johansson","washington d.c.,future,shield,marvel comic,sup..."
26782,captainamerica:civilwar,2016,Anthony Russo,"Chris Evans,Robert Downey Jr.,Scarlett Johansson","civil war,war,marvel comic,sequel,superhero,ba..."
27519,midnight,1982,John A. Russo,"Melanie Verlin,Lawrence Tierney,John Hall",
34683,santaclaws,1996,John A. Russo,"Debbie Rochon,Grant Kramer,John Mowod",
37868,youwontmissme,2009,Ry Russo-Young,"Stella Schnabel,Gina Abatemarco,Nick Ackerman","independent film,woman director"
43351,beforeifall,2017,Ry Russo-Young,"Zoey Deutch,Halston Sage,Logan Miller","based on novel,time loop,teenager,mumblecore,t..."

In [20]:
ml_movies_df = pd.merge(ml25m_movies_df, movies_metadata_cd_df, how = 'inner', on=['only_title', 'openYear'])
ml_movies_df

,movieId,title,genres,only_title,openYear,director,cast,keywords
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,toystory,1995,John Lasseter,"Tom Hanks,Tim Allen,Don Rickles","jealousy,toy,boy,friendship,friends,rivalry,bo..."
1,2,Jumanji (1995),Adventure|Children|Fantasy,jumanji,1995,Joe Johnston,"Robin Williams,Jonathan Hyde,Kirsten Dunst","board game,disappearance,based on children's b..."
2,3,Grumpier Old Men (1995),Comedy|Romance,grumpieroldmen,1995,Howard Deutch,"Walter Matthau,Jack Lemmon,Ann-Margret","fishing,best friend,duringcreditsstinger,old men"
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,waitingtoexhale,1995,Forest Whitaker,"Whitney Houston,Angela Bassett,Loretta Devine","based on novel,interracial relationship,single..."
4,5,Father of the Bride Part II (1995),Comedy,fatherofthebridepartii,1995,Charles Shyer,"Steve Martin,Diane Keaton,Martin Short","baby,midlife crisis,confidence,aging,daughter,..."
...,...,...,...,...,...,...,...,...
31437,203547,A Doll's House (1973),Comedy|Drama,adoll'shouse,1973,Patrick Garland,"Anthony Hopkins,Claire Bloom,Ralph Richardson",independent film
31438,206565,Destiny (1997),Drama|Romance,destiny,1997,Youssef Chahine,"Layla Olwy,Mohamed Mounir,Khaled El Nabawy",
31439,207145,Michael Jackson's Thriller (1983),Horror,michaeljackson'sthriller,1983,John Landis,"Michael Jackson,Ola Ray,Vincent Price","dancing,date,cinema,narration,music video,zomb..."
31440,207145,Michael Jackson's Thriller (1983),Horror,michaeljackson'sthriller,1983,John Landis,"Michael Jackson,Ola Ray,Vincent Price","dancing,date,cinema,narration,music video,zomb..."
31441,207339,Venus in Furs (1969),Horror|Thriller,venusinfurs,1969,Massimo Dallamano,"Laura Antonelli,Régis Vallée,Loren Ewing","sex,eroticism,nudity,voyeurism"

In [21]:
# naver_movies_df['title_forn']에서 글자 전부 소문자로 변환, 모든 공백 제거, 'only_title'로 새 컬럼에 추가, 결측치 제거
naver_movies_df['only_title'] = naver_movies_df['title_forn'].str.lower()
naver_movies_df['only_title'] = naver_movies_df['only_title'].str.replace(" ", "")
naver_movies_df = naver_movies_df.dropna(subset = ['only_title'])

print(naver_movies_df[['only_title']].isna().sum())
naver_movies_df[['only_title']].head()

only_title    0
dtype: int64

            only_title
0     theeternalreturn
1        circusshadows
4     talesofmanhattan
5                  화랑도
7  thethirty-ninesteps

In [22]:
print(ml_movies_df.shape)
print(naver_movies_df.shape)

(31442, 8)
(14318, 19)

In [23]:
# ['only_title', 'openYear'] 두 컬럼을 기준으로 ml25m_movies_df와 naver_movies_df를 교집합('inner') 병합(merge)
# ['openYear'] 개봉연도 컬럼 차이를 (for문으로) 하나씩 더해가는 보정을 취하면서 일치하는 것을 매칭하고, same_movies_df 데이트 프레임에 추가
def merge_movies_data(df1, df2, n):
  same_movies_df = pd.DataFrame()

  for i in range(n):
    ml25m_movies_openYear_correction_df = df1.copy()
    ml25m_movies_openYear_correction_df['openYear'] = ml25m_movies_openYear_correction_df['openYear'] + i
    add_same_movies_df = pd.merge(ml25m_movies_openYear_correction_df, df2, how = 'inner', on=['only_title', 'openYear'])
    same_movies_df = pd.concat([same_movies_df, add_same_movies_df], axis = 0)
  
  same_movies_df = same_movies_df.drop_duplicates(['only_title', 'openYear'])
  same_movies_df = same_movies_df.sort_values('movieId')
  same_movies_df.reset_index(drop=True, inplace=True)

  # 컬럼명과 컬럼 순서 변경, 불필요한 컬럼 드랍, int로 자료형 변환, 문자열 구분자 변경, reset_index
  # ['only_title', 'openYear'] 행의 중복 제거(일치하는 행들의 가장 앞 순서 행만 남기고 나머지 드랍)
  same_movies_df.rename(columns={'code':'naver_code', 'title_forn':'title', 'title_y':'title_kor', 'keywords' : 'keyword', 'directors':'director_kor', 'actors':'cast_kor', 'openDate':'release_date', 'runningTime':'running_time', 
                              'netizens_rate':'naver_user_rate', 'netizens_participate':'naver_user_participate', 'critics_rate':'naver_critics_rate', 'critics_participate':'naver_critics_participate'}, inplace=True)
  same_movies_df.drop(['title_x'], axis=1, inplace=True)
  same_movies_df = same_movies_df.drop(['only_title', 'openYear'], axis=1)
  same_movies_df['genres'] = same_movies_df['genres'].str.replace("|", " ")
  same_movies_df['naver_user_participate'] = same_movies_df['naver_user_participate'].str.replace(",", "")
  same_movies_df = same_movies_df.astype({'naver_user_participate' : int})
  same_movies_df = same_movies_df.astype({'naver_critics_participate' : int})
  same_movies_df.reset_index(drop=True, inplace=True)
  same_movies_df = same_movies_df[['movieId', 'naver_code', 'title', 'title_kor', 'genres', 'keyword', 'director', 'cast', 'director_kor', 'cast_kor', 
                               'naver_user_rate', 'naver_user_participate', 'naver_critics_rate', 'naver_critics_participate', 'nation', 'release_date', 'running_time', 'age', 'story', 'poster_url', 'url']]

  return same_movies_df

In [24]:
movie_db_df = merge_movies_data(ml_movies_df, naver_movies_df, 10)
movie_db_df.sample(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,movieId,naver_code,title,title_kor,genres,keyword,director,cast,director_kor,cast_kor,...,naver_user_participate,naver_critics_rate,naver_critics_participate,nation,release_date,running_time,age,story,poster_url,url
3908,173587,55907,Wild Flowers,와일드 매치,Action Comedy Drama,woman director,Melissa Painter,"Clea DuVall,Daryl Hannah,Tomas Arana",코마츠 다카시,"오카다 요시노리, 스즈키 미키, 이시카와 미즈호",...,12,0.0,0,일본,2006.10.20,126분,12세 관람가,영세한 여자 프로레슬링 단체인 ‘가린페이로’의 창설자인 여사장 아이언 이이지마가 세...,https://movie-phinf.pstatic.net/20111221_136/1...,https://movie.naver.com/movie/bi/mi/basic.nave...
2427,102856,102060,3096 Days,3096일,Drama,"hostage,kidnapping,woman director",Sherry Hormann,"Antonia Campbell-Hughes,Thure Lindhardt,Trine ...",쉐리 호만,"안토니아 캠벨-휴즈, 투레 린드하르트",...,306,5.0,1,독일,2013.09.26,111분,청소년 관람불가,"“나는 나타샤 캄푸쉬. 8년전 납치당했습니다.”<br/>1998년3월2일, 열살 나...",https://movie-phinf.pstatic.net/20130829_25/13...,https://movie.naver.com/movie/bi/mi/basic.nave...

In [25]:
# 결과 데이터프레임 shape과 type 확인
print(movie_db_df.shape)
print(movie_db_df.dtypes)

(3964, 21)
movieId                        int64
naver_code                     int64
title                         object
title_kor                     object
genres                        object
keyword                       object
director                      object
cast                          object
director_kor                  object
cast_kor                      object
naver_user_rate              float64
naver_user_participate         int64
naver_critics_rate           float64
naver_critics_participate      int64
nation                        object
release_date                  object
running_time                  object
age                           object
story                         object
poster_url                    object
url                           object
dtype: object

In [26]:
# 같은 제목, 다른 개봉 연도 영화 구분 되게 추가 되었는지 확인
movie_db_df[['title', 'release_date']][movie_db_df['title'] == 'Oldboy']

       title           release_date
1326  Oldboy  2013.11.21 2003.11.21
2527  Oldboy             2014.01.16

In [27]:
movie_db_df.to_csv("movie_dataset.csv", mode='w', index=False)

## rating - crawling merge

In [28]:
filename = '/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/movie_lens_data/small/ratings_small.csv'
small_ratings_df = pd.read_csv('/content/drive/MyDrive/bigdata_analysis_final_project - movie recommender system(영화 추천 시스템)/Data Preprocessing/movie_lens_data/small/ratings_small.csv')
small_ratings_df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [29]:
movie_db_movieId_df = movie_db_df[['movieId', 'naver_code']]
movie_db_movieId_df

      movieId  naver_code
0           1       17153
1           2       17440
2           4       17798
3           5       17754
4           6       17327
...       ...         ...
3959   175897      115534
3960   175979      165766
3961   176175       26795
3962   183123       29175
3963   187127      155305

[3964 rows x 2 columns]

In [30]:
movie_db_sr_df = pd.merge(movie_db_movieId_df, small_ratings_df, how = 'inner', on='movieId')
movie_db_sr_df = movie_db_sr_df[['userId', 'movieId', 'naver_code','rating', 'timestamp']]
movie_db_sr_df['rating'] = movie_db_sr_df['rating'] * 2
movie_db_sr_df = movie_db_sr_df.sort_values(['userId', 'movieId'])



movie_db_sr_df.reset_index(drop=True, inplace=True)
# movie_db_sr_df.reset_index(inplace=True)
# movie_db_sr_df.rename(columns={'index':'rating_num'}, inplace=True)
movie_db_sr_df

       userId  movieId  naver_code  rating   timestamp
0           1       31       17504     5.0  1260759144
1           1     1061       17766     6.0  1260759182
2           1     1343       11082     4.0  1260759131
3           1     2193       10619     4.0  1260759198
4           1     2294       19477     4.0  1260759108
...       ...      ...         ...     ...         ...
40618     671     5816       33930     8.0  1065111963
40619     671     5989       34522     8.0  1064890625
40620     671     5991       36590     9.0  1064245387
40621     671     6212       36801     5.0  1065149436
40622     671     6565       35837     7.0  1074784724

[40623 rows x 5 columns]

In [31]:
movie_db_sr_df.to_csv("rating_small_dataset.csv", mode='w', index=False)

### end of file